/* 
    Created on : 20/03/2019, 14:22:35
    Author     : kyomei
*/
* {
    font-family: Arial;
}
body {
    margin: 0;
    padding: 0;
}

.column {
    flex-direction: column;
}
header {
    display: flex;
    justify-content: center;
    height: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    
    nav ul, nav li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav ul {
        display: flex;
        
        .active a, a:hover {
            color: #fff;
            background-color: #39aae1;
        }
        a {
            font-family: arial;
            display: block;
            padding: 15px;
            text-decoration: none;
            text-transform: uppercase;
            color: #727272;
        }
    }
}

#banner {
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
    
    .banner_headline {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        
        h1 {
            margin: 0;
            padding: 0;
            max-width: 350px;
            font-size: 70px;
            text-shadow: 0px 1px 0px #555;
        }
        h2 {
            margin: 0;
            padding: 0;
            max-width: 350px;
            font-size: 21px;
            margin-top: 30px;
            text-shadow: 0px 1px 0px #555;            
        }
    }
    .banner_options {
        height: 210px;
        display: flex;
        color: #fff;
        
        .banner1 {
            flex: 1;
            padding: 20px;
            background-color: #39aae1;
        }
        .banner2 {
            flex: 1;
            padding: 20px;
            background-color: #0079c7;
        }
        .banner3 {
            flex: 1;
            padding: 20px;
            background-color: #2b4c99;
        }
        
        .banner_title {
            font-size: 21px;
        }
        
        .banner_desc {
            font-size: 12px;
            margin: 20px 0;
            
            .banner_desc_row {
                display: flex;
                border-bottom: 1px solid #ccc; 
            }
        }
        a {
            display: inline-block;
            border: 1px solid #FFF;
            padding: 5px;
            color: #fff;
            font-size: 13px;
            text-decoration: none;
        }
    }
}